$primary: #5265E1;
$secondary: #FA5959;
$light: white;
$info: grey;



@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Merriweather:wght@700&family=Plus+Jakarta+Sans:wght@300;400;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans' sans-serif;
}

.btn {
    border-radius: 3px;
}

.btn-outline-secondary {
    padding: 5px 30px;
}

.btn-outline-secondary {
    background-color: $secondary;
    border: 1px solid $dark;
    color: $light;
}

.btn-outline-secondary:hover {
    background-color: white;
    border: 1px solid $secondary;
    color: $secondary;
}


.btn-outline-info {
    background-color: rgb(224, 226, 226);
    border: 1px solid rgb(192, 192, 192);
    color: $dark;
}

.btn-outline-info:hover {
    background-color: $light;
}

.btn-primary:hover {
    background-color: $light;
    color: $primary;
}

.navbar {
    padding: 32px 0;
    font-weight: 600;
}

.nav-link {
    margin-left: 41px;
    color: $dark;
}

.nav-link:hover {
    color: $secondary;
}

section.hero {
    padding: 60px 0;
}

@include media-breakpoint-up(sm) {
    .btn-outline-secondary {
        margin-left: 25px;
    }
}


section.hero .text {
    margin-top: 30px;
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: $dark
}

section.hero p {
    margin-top: 20px;
}

.forma {
    width: 500px;
    height: 200px;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
    background: $primary;
}

.forma {
    margin-top: -200px;
    margin-right: -5px;
}


.forma2 {
    width: 600px;
    height: 200px;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    background: $primary;
    box-sizing: border-box;
}

.forma2 {
    margin-top: -125px;
    margin-left: -30px;
}

.forma3 {
    width: 550px;
    height: 200px;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    background: $primary;
    box-sizing: border-box;
}

.forma3 {
    margin-top: -125px;
    margin-left: -40px;
}

.forma4 {
    width: 550px;
    height: 200px;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
    background: $primary;
    box-sizing: border-box;
}

.forma4 {
    margin-top: -125px;
    margin-left: -40px;
}

@media only screen and (max-width: 991px) {
    section.hero .text {
        font-size: 30px;
        color: $dark;
        line-height: 30px;
    }
}

@media only screen and (max-width: 914px) {
    .tab-content {
        padding-left: 60px;
    }
}

@media only screen and (max-width: 968px) {
    .tab-content {
        padding-right: -30px;
    }

    .forma2 {
        height: 200px;
        width: 400px;

    }
}

@media only screen and (max-width: 877px) {
    .tab-content {
        padding-top: auto;
        padding-left: -80px;
        padding-right: -70px;
    }
}

@media only screen and (max-width: 767px) {
    section.hero .text {
        padding-top: 25px;
        font-size: 60px;
        text-align: center;
        color: $dark;
        line-height: 60px;
    }

    section.hero p {
        margin-top: 40px;
        text-align: center;
        font-size: 40px;
    }

    .buttons {
        padding-top: 20px;
        text-align: center;
    }

    .buttons .btn {
        font-size: 20px;
        font-weight: bold;
        padding: 20px 40px;
    }

    .nav-item {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 35px;
        font-weight: bold;
    }

    .title-tab {
        font-size: 40px;
        font-weight: 800;
    }

    .tab-content {
        padding-top: 20px;
        text-align: center;
        padding-right: 70px;
        font-size: 25px;
    }

    .features-title {
        font-size: 50px;
    }

    .features-para {
        font-size: 25px;
        display: block;
    }

    #ch {
        margin-left: 130px;
    }

    #fire {
        margin-left: 130px;
    }

    #ope {
        margin-left: 130px;
        margin-top: -130px;
    }

    .card-body {
        text-align: center;
    }

    .box-header {
        text-align: center;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}

.section .features-title {
    font-size: 80px;
}

.features-body {
    padding-top: 30px;
}

.title-tab {
    padding-top: 30px;
}


.btn-info {
    background-color: $primary;
    color: $light;
    border: solid 1px $primary;
}

.btn-info:hover {
    background-color: $light;
    color: $primary;
    border: solid 1px $primary;
}

.features-body .nav-item :hover {
    border-bottom: $secondary;
}

.shadow-border {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ddd;
}

.downloads-area {
    position: relative;
    margin-top: 70px;
    text-align: center;
}

.downloads-area .header-para {
    margin-top: 20px;
    text-align: center;
}

.accordion {
    text-align: left;
}

.accordion-button:hover {
    color: $secondary;
}

.questions-area {
    margin-top: 80px;
}

#last {
    margin-top: 30px;
}

.accordion-button:focus {
    border-color: $light;
}

.btn-danger:hover {
    background-color: $light;
    color: $secondary;
}

.subscribe-area {
    background-color: $primary;
    margin-top: 70px;
}

.subscribe-content {
    text-align: center;
    padding-top: 50px;
    color: $light;
    padding-bottom: 30px;
}

.needs-validation {
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

.footer-area {
    height: 22vh;
    background: #252b46;
    padding: 2rem;
}

.footer-area .footer-links ul>.links-item>a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-transform: uppercase;
    color: $light;
    transition: color 200ms ease-in-out;
    text-decoration: none;
}

.footer-area .footer-links ul>.links-item>a:hover {
    color: $secondary;
}

.footer-area .footer-links {
    padding-top: 16px;
}

.footer-social-media .img {
    color: $light;
}

.links-item+.links-item {
    margin-left: 2rem;
}

.footer-social-media ul {
    margin: 0px 20px 0 20px;
}

.footer-social-media ul li {
    margin-right: 20px;
}

.footer-area .footer-social-media ul li :hover {
    background-color: $secondary;
    color: $secondary;
}

.downloads-area .row div:nth-child(1) {
    order: 1;
    padding-top: 50px;
  }
  .downloads-area .row div:nth-child(2) {
    order: 2;
    padding-top: 50px;
  }
  .downloads-area .row div:nth-child(3) {
    order: 3;
    padding-top: 180px;
  }